* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    min-height: 100vh;
    background: linear-gradient(
      135deg,
      rgb(35, 161, 168),
      rgba(29, 164, 171, 0.58)
    );
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  input {
    height: 35px;
    width: 400px;
    border-radius: 10px;
  }
  
  button {
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
  }
  